@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

.loadingScreen {
    position:fixed;
    width: 100%;
    height: 100%;
    background-color:rgb(255, 255, 255);
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;

}

.resizeWaiter {
    position: absolute;
    top:0; bottom: 0; left: 0; right: 0;
    margin: auto;
    width: 40px;
    height: 70px;
    background-color:rgba(22, 223, 189, 0.29);
    border-style: ridge;
    border: 3px ridge grey;
    display: block;
    overflow:hidden;
    resize: both;
}

h1 {
    position: fixed;
    font-size:xx-large;
    font-family: 'Barlow', sans-serif;
    bottom: 15vw;
    right: 15vw;
    margin: auto;
    color: rgb(255, 255, 255);
    animation: rotatoOpposite 3.5s linear infinite;
    animation-play-state: running;
}

h1:hover{
 animation-play-state: paused;
}

h2{
    font-family: 'Barlow', sans-serif;
    margin: auto;
}

h3{
    font-family: 'Barlow', sans-serif;
    text-align: center;
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-style: solid;
    border-color: black;
    background: linear-gradient(#ffffff, rgb(255, 255, 255));
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s all;
    animation: rotato 100s linear infinite;
    transform:rotate(.8deg);
    animation-play-state: paused;
    transition: 3s all;
}

button{
    margin-left: .1vw;
    font-family: 'Barlow', sans-serif;
}

.removeLoading{
    z-index: 1001;
}


.reload {
    background: transparent;
    border: 2px solid  #729ba871;
    border-radius: 6px;

    position: absolute;
    transition: .5s all;
}


.tutorial {
    background: transparent;
    border: 2px solid rgba(175, 238, 238, 0.541);
    border-radius: 6px;
    position: absolute;
    transition: .5s all;
    margin-top: 1.4rem;
}

button:hover{
    color: white;
    background-color:rgba(5, 27, 23, 0.623);
    border: 1px ridge white;
}

/* .behindGear {
    width:50%;
    height: 50%;
    position: absolute;
    bottom:0%;
    right: 0%;
    background: rgba(207, 45, 45, 0.603);
    animation: rotatoOpposite 30s linear infinite;
    animation-play-state: running;
    transition: 10s all;
} */

/* might need to just manually create these gears */

#bG1{
    transform:rotate(51.43deg)
}


#bG2{
    transform:rotate(102.86deg)
}


#bG3{
    transform:rotate(154.29deg)
}

#bG4{
    transform:rotate(205.72deg)
}

#bG5{
    transform:rotate(257.15deg)
}

#bG6{
    transform:rotate(308.58deg)
}

#bG7{
    transform:rotate(360deg)
}

body {
    overflow: hidden;
}

.loadBoxBottom {
    position: absolute;
    width: 100%;
    height: 10vw;
    bottom: -20vw;
    animation-duration: 2s;
    animation-name: loadBoxBottom, rotato;
    animation-iteration-count: 2, infinite;
    border-radius: 35% 35% 0% 0%;
    transition: 1s all;
    animation-play-state: running, paused;
    background-color: transparent;
    transform:rotate(-.8deg);
}



.loadBoxBottomSide{
    position:absolute;
    width: 100%;
    height: 10vw;
    right: -70rem;
    animation-name: loadBoxRight;
    animation-direction: alternate;
    animation-duration: 2s;
    animation-iteration-count: 2;
    animation-delay: 10s;
    border-radius: 50% 0% 0% 50%;
    transition: 1s all;
    animation-play-state: running;
    background-color: transparent;
    transform:rotate(89.2deg);
    display: none;
}



#verticalResizeCursor {
    display: block;
    margin: auto;
    width: 10vw;
    height: 100%;
}


.loadBoxBottom:hover {
    animation-play-state: running, running;
}


@keyframes loadBoxRight{ 
    to{

        background-color: rgba(0, 0, 0, 0.3);
        right: -58rem;
    }
}
@keyframes loadBoxBottom {

    to {
        display:block;
        background-color: rgba(0, 0, 0, 0.3);
        margin-bottom: 20vw;
    }
}




/* the big rotato rotato box numba one*/
.boxes3 {
    width: 30%;
    height: 30%;
    background: rgba(255, 255, 255, 0.31);
    border-style: ridge;
    border-color: rgba(38, 192, 141, 0.29);
    position: absolute;
    right: -15%;
    top: 60%;
    /* kinda just a dummy line. since this is relative, it's going from the top of "container". dictates whether this box comes from middle or lower of screen p much*/
    animation: rotatoOpposite 3s linear infinite;
    animation-play-state: running;
    transition: 5s all;
    animation-delay: 6s;
}

.boxes3:hover {
    background:rgb(255, 0, 234);
    animation-play-state: paused;
    transform: rotateX(270deg);
}

.boxes5 {
    width: 10%;
    height: 10%;
    background: rgba(255, 255, 255, 0.31);
    border-style: solid;
    border-color: rgba(121, 150, 140, 0.29);
    position: absolute;
    right: -10%;
    top: -10%;
    /* kinda just a dummy line. since this is relative, it's going from the top of "container". dictates whether this box comes from middle or lower of screen p much*/
    animation: rotatoOpposite 1s linear infinite;
    animation-play-state: running;
    transition: 5s all;
}

.boxes5:hover {
    animation-play-state: paused;
    transform: rotateX(270deg);
}

.spoke {
    width: 5%;
    height: 5%;
    background: rgba(255, 255, 255, 0.31);
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.29);
    position: absolute;
    right: -40%;
    top: -30%;
    /* kinda just a dummy line. since this is relative, it's going from the top of "container". dictates whether this box comes from middle or lower of screen p much*/
    animation: rotato .3s linear infinite;
    animation-play-state: running;
    transition: 5s all;
}

.spoke:hover {
    animation-play-state: paused;
    transform:rotateY(350deg);
}



/* the perspective box */
.boxes4 {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: pink;
    right: -95%;
    top: -95%;
    transition: 2s all;
    animation: wiggle 1.5s linear infinite;
    animation-delay: 6s;
}



.boxes6{
    width: 18%;
    height: 18%;
    position: absolute;
    top: 150%;
    right: -20%;
    background: rgba(255, 255, 255, 0.31);
    border-style: solid;
    border-color: rgba(22, 223, 189, 0.29);
    animation: rotato 1.2s linear infinite;
    animation-play-state: running;
    transition: 5s all;
    
}

.boxes6:hover{
    animation-play-state: paused;
}


@keyframes rotatoOpposite {
    to {
        transform: rotate(-360deg);
    }
}

@keyframes rotato {
    to {
        transform: rotate(360deg);
    }
}


@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }

    80% {
        transform: rotate(0deg);
    }

    85% {
        transform: rotate(2deg);
    }

    95% {
        transform: rotate(-2deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.boxes4:hover {
    animation-play-state: paused;
    top: -100%;
}



/* making a breakpoint for phones */
@media (max-width:450px) and (min-width:0px) {

    .loadBoxBottom {
        width: 0%;
        height: 0%;
        background-color: transparent;
    }

    .container {
        animation-play-state: running;
        width: 60%;
        height: 60%;
        animation-duration: 80s;
    }

    .container:hover {
        animation-play-state: paused;
    }
}


/* making a breakpoint for tablets */
@media (max-width:768px) and (min-width:450px) {
    .boxes1 {
        animation-play-state: running;
    }
}

/* can i just do the rest of these as accounting for laptop and desktop? */


@media (max-height: 770px) {
    .boxes6{
        top: 35%;
        right: 13%;
    }
}


@media (max-height: 670px) {
    .spoke {
        right: 40%;
        top: 30%;
    }
}

@media (max-height:570px){
    .boxes5{
        right: 30%;
        top:30%;
    }
}

@media (max-height:570px) and (max-width: 1500px) {
    .container{
        transform: rotate(2.5deg);
    }
}

@media (max-height:570px) and (max-width:1400px) {
    .container{
        transform: rotate(4deg);
    }
}


@media (max-height:570px) and (max-width:1200px) {
    .container{
        transform: rotate(4.0deg);
    }
}


@media (max-width: 570px) and (max-height: 1000px) {
    .container{
        animation-play-state: running;
        width: 80%;
        height: 80%
    }

    .boxes4{
        animation-play-state: paused;
    }

    .boxes3{
        width: 35%;
        height: 35%;
    }

    .boxes4{
        animation-play-state: paused;
    }
}



@media (max-width: 570px) and (max-height: 800px) {
    .container {
        /* animation-duration: 45s; */
        width: 50%;
        height: 50%;
        background-color: rgba(245, 245, 245, 0.384);
    }
}
/* 
@media (max-width: 570px) and (max-height: 600px) {
    .container {
        /* animation-duration: 30s; */
        width: 20%;
        height: 20%;
    }

    .boxes4 {
        width: 70%;
        height: 70%;
        right: -65%;
        top: -65%;
    }
} */

/* @media (max-height: 400px) {

    html, body {
        height: 100%;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
} */