.container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(#7289DA54, rgba(255, 255, 255, 0.62));
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s all;
    animation: rotato 100s linear infinite;
    animation-play-state: paused;
    transition: 3s all;
}

body {
    overflow: hidden;
}

.loadBoxBottom {
    position: absolute;
    width: 100%;
    height: 10vw;
    bottom: -20vw;
    background-color: rgba(0, 0, 0, 0.3);
    animation-duration: 2s;
    animation-name: loadBoxBottom;
    animation-iteration-count: 2;
    border-radius: 35% 35% 0% 0%;
    transition: 1s all;
}

#verticalResizeCursor {
    display: block;
    margin: auto;
    width: 10vw;
    height: 100%;
}

@keyframes loadBoxBottom {

    to {
        background-color: rgba(121, 120, 120, 0.01);
        margin-bottom: 20vw;
    }
}



.boxes1 {
    width: 10%;
    height: 10%;
    background: rgba(0, 0, 0, 0.31);
    border-style: solid;
    border-color: rgba(255, 0, 0, 0.29);
    position: relative;
    right: -50%;
    top: 60%;
    /* kinda just a dummy line. since this is relative, it's going from the top of "container". dictates whether this box comes from middle or lower of screen p much*/
    animation: rotato 3s linear infinite;
    animation-play-state: paused;
    transition: 3s all;
    /*  animation code kindly sourced from stackoverflow  */
}

@keyframes rotato {
    to {
        transform: rotate(360deg);
    }
}

.subboxes1 {
    width: 100%;
    height: 20%;
    background: rgba(0, 0, 0, 0.31);
    position: relative;

}

.boxes1:hover {
    animation-play-state: running;
}


.boxes2 {
    width: 20%;
    height: 20%;
    bottom: 80%;
    right: 80%;
    border-style: dotted;
    border-color: bisque;
    background: rgba(59, 142, 214, 0.486);
    position: relative;
    animation: rotato3D 3s linear infinite;
    animation-play-state: paused;
    transition: 3s all;
}

.boxes2:hover {
    animation-play-state: running;
}

@keyframes rotato3D{
    to {
        transform: rotate3d(2, -1, -1, -1turn);
    }
}

#boxes21{
    bottom:-20px;
}
#boxes22{
    bottom:-10px;
}

#boxes23{
    right: 40px;
}

#boxes25{
    right:-20px;
}


.boxes3{
    width: 30%;
    height: 10%;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    position: relative;
    margin: 1vw;
    padding: .5vw;
    background-color: rgba(210, 105, 30, 0.363);
    border: 1px ridge darkcyan;
    border-radius: 30%;
    animation: rotatoOpposite 3s linear infinite;
    animation-play-state:paused;
    transition: 3s all;
}

.boxes3:hover {
    animation-play-state:running;
}

@keyframes rotatoOpposite{
    to {
        transform: rotate(360deg);
    }
}


@media (max-width: 1600px) {}

@media (max-width: 1500px) {}

@media (max-width: 1400px) {


    /*   .container {
      background: linear-gradient(217deg, #514B4D, rgba(255,0,0,0) 70.71%),
              linear-gradient(127deg, #F0A856, rgba(0,255,0,0) 70.71%),
              linear-gradient(336deg, #484443, rgba(0,0,255,0) 70.71%);
    } */
}

@media (max-height: 1100px) {}

@media (max-width: 1400px) and (max-height: 1000px) {
    .boxes1 {
        transition: 3s all;
        top: 10%;
    }

 
}

@media (max-width: 1300px) {
    .boxes1 {
        border-radius: 10% 10% 10% 10%;
    }
}

@media (max-height: 950px) {}

@media (max-width: 1200px) and (max-height: 900px) {
    .boxes2 {
        transition: 3s all;
        bottom: 50%;
        right: 40%;
        /* top: 40%; */
        /* right: 60%; */
    }
}

@media (max-width: 1100px) {}

@media (max-height: 850px) {}

@media (max-width: 1000px) and (max-height: 800px) {}

/* media query for 950 width and 750 height */

@media (max-width: 900px) and (max-height: 700px) {
    .container{
        animation-play-state: running;
    }
}

@media (max-width: 800px) and (max-height: 600px) {
    .container{ 
        animation-duration: 50s;
    }
}

@media (max-width: 600px) and (max-height: 400px) {
    .container{
        animation-duration: 10s;
    }
}